.bar {
  font-family: "Input Mono, monospace";
  border-radius: 0px;
  background-color: $bg;
  font-size: 16px;
  color: $fg;
}

.workspaces {
  margin: 7px 0px 7px 25px;
  color: $fg;
}

.current {
  color: $accent;
}

.launcher {
  margin: 10px 0 7px 10px;
  font-size: 16px;
  .dispatcher {
    background-color: $accent;
    color: $bg;
    border-radius: 10px;
    font-size: inherit;
    padding: 0 8px;
  }
}

.window {
  background-color: $bg;
  margin: 7px 0;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 14px;
}

.date-box {
  font-weight: bold;
  background: $bg;
  margin: 7px 0px 7px 0;
  padding: 0 2px 0 14px;
  border-radius: 10px;
  .content {
    color: $fg;
  }
  .date-dropdown {
    margin: 0;
    padding: 0 10px 0 0px;
    color: $fg;
  }
}

.sep {
  color: rgba($color: #000000, $alpha: 0.0);
  padding: 0;
}

// calendar
.cal-box {
  background-color: $bgCal;
  border-radius: 8px;
  padding: 1rem 1rem .2rem;

  .cal {
    padding: .8rem .25rem 0rem;
    margin-left: 10px;

    &.highlight {
      padding: 10rem;
    }
  }
}

calendar:selected {
  color: $accent;
}

calendar.header {
  color: $cyan;
  font-weight: bold;
}

calendar.button {
  color: $cyan;
}

calendar.highlight {
    background: none;
  color: $green;
  font-weight: bold;
}


// controls dispatcher
.actionsbox {
  background: $bg;
  border-radius: 12px;
  padding: 0 12px;
  margin: 7px 0px;
}

.battery__box {
  background: $bg;
  border-radius: 10px;
  margin: 7px 0;
  padding: 0 11px 0 1px;
  .battery__box_icon {
    font-size: 16px;
  }
  .battery__box_percent {
    margin-left: -5px;
    font-size: 16px;
    font-weight: 500;
  }
}

.powermenu-box {
  margin: 7px 7px 7px 0px;
  background: inherit;
  .dispatcher {
    border-radius: 10px;
    background: $bg;
    color: $cyan;
    padding: 0 10px;
    &:hover { background-color: $contrastbg; }
    &:active { background-color: $bgSecondary; }
  }
}

