@import "config.css";

#waybar {
  font-family: "Input Mono, monospace";
  font-weight: bold;
  min-height: 30px;
  font-size: 11px;
}

#window {
  font-family: "Input Mono, monospace";
  font-weight: bold;
  font-size: 11px;
}

#workspaces button.active {
  color: @accent
}

#custom-power, #clock, #battery, #bluetooth {
  font-family: "Input Mono, monospace";
  margin-right: 22px;
}

#pulseaudio, #backlight {
  font-family: "Input Mono, monospace";
  margin-right: 5px;
}

#pulseaudio-slider trough {
    min-width: 50px;
    min-height: 10px;
    border-radius: 5px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 5px;
    border-radius: 5px;
}

#backlight-slider trough {
    min-width: 50px;
    min-height: 10px;
    border-radius: 5px;
    background-color: black;
}

#backlight-slider highlight {
    min-width: 5px;
    border-radius: 5px;
}
